.sidebar{
	background: #2c2c2c; /* Cambiar para luego */
}

.sidebar:selected{
	background: @theme_selected_bg_color;
	color: @theme_selected_fg_color;
}

.sidebar:hover{
	color: @theme_selected_fg_color;
}

.titlebar{
	background: #2c2c2c; /* Cambiar para luego */
}